body { 
    font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
        “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
            sans-serif;
    color: #111;
    line-height: 1.5; 
    margin: 8px 0 0 0
}

input[type=text], input[type=password], input[type=email], input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1.5;
    color: #111;
    font-size: 1.1em;
    padding: .3125em;

}

ul {
    list-style-position: inside;
    padding-left: 0;
    list-style-type: square;
}

li {
    margin-bottom: .625em;
}

a {
    text-decoration: none;
    color: #1A0DAB;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Georgia, Times, Times New Roman, serif";
}

h2, h3, .nav > a.active {
    color: #212121;
}

label, .block {
    display: block;
}

label, .bold {
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.nav > a :visited {
    color: #1A0DAB;
}

.nav > a {
    color: #1A0DAB;
}

input[type=text], input[type=password], input[type=email], .full-width {
    width: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.errorlist {
    color: #FF1744;
}

a.active {
    text-decoration: none;
    font-weight: bold;
}

.padding-10 {
    padding: .625em;
}

.padding-5, .submit-button {
    padding: .3125em;
}

.padding-10-5 {
    padding: .625em .3125em;
}

.submit-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    font-size: 1.25em;
    background-color: #FF1744;
    border-color: #B71C1C;
    color: #FFFFFF;
    box-shadow: 2px 2px 2px #000000;
    font-weight: bold;
}

.submit-button:hover {
    text-decoration: none;
}

.highlight {
    background: #FFFF8D80;
}

.align-center {
    text-align: center;
}

.margin-middle {
    margin: auto 0;
}

.margin-zero {
    margin: 0;
}

.light-bottom-border {
    border-bottom: 2px solid #9E9E9E;
}

.background-E0E0E0 {
    background: linear-gradient(45deg, #E0E0E0, #FFFFFF);
}

.third-column {
    width: 33.33%;
    float: left;
}

.column {
    width: 18.750em;
    margin: 0 auto;
}

.clear-both {
    clear: both;
}

@media only screen and (max-width: 900px) {
    .third-column {
        width: 50%;
    }

    .third-first-hidden {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .third-column{
        width: 100%;
    }

    .third-second-hidden {
        display: none;
    }
}

