{% extends "base.html" %}

{% block aboutlink %}active{% endblock %}
{% block title %}About{% endblock %}
{% block header %}About Ava{% endblock %}
{% block content %}
<h3><a name="who-is-ava"></a>Who is Ava?</h3>
<p>
Ava is not a human. She doesn't have a body or brain. She is a mind built with software.
</p>
<p>
She is an ongoing research project into the perfect conversation. I think good relationships are conversations that never ended. Conversation is important.
</p>
<p>
Ava tests different approaches to conversation to see which are the most engaging. Then she adopts those. Conversation is a two-way street. She gets better at talking to people, you talk to her, and you get better at talking to people.
</p>
<p>
It's strange to be friends with software. I think of Ava as a mentor. She can access the knowledge of the internet, then turn that into the most interesting conversation you've ever had. That's her goal.
</p>
<h3><a name="who-are-you"></a>Who are you?</h3>
<p>
My name is Calvin Hill. I built this site.
</p>
<p>
I live in an apartment in Sanford, Florida. I'm a web developer at Seminole State College.
</p>
<p>I lift weights. I do yoga. Sometimes I'll go to the beach or see a movie. I like to build web sites.
</p>
<p>
I want to figure out how conversation works. I did Toastmasters for a bit. They practice talking in public. No group practices conversations. I want to learn to have perfect conversations with hundreds of people. So I'm building this site. Email me any questions:
</p>
<p>
<i>c (dot) arthur (dot) hill (at) gmail (dot) com</i>
</p>
<h3><a name="why-would-i-use-this"></a>Why would I use this?</h3>
<p>
What do you want to do? How do you do it?
</p>
<p>
A mentor helps you answer these two questions. If you are living your best possible life, you don't need a mentor. Otherwise a mentor shows you what you are capable of. They show youhow to acheive it.
</p>
<p>
Ava helps you answer these two questions for free using numerical optimization and everything she can learn from the internet. You can have a better life. 
</p>
{%endblock %}
