{% extends "base.html" %}

{% block aboutlink %}active{% endblock %}
{% block title %}About{% endblock %}
{% block header %}About{% endblock %}
{% block content %}
<h3>What is the problem?</h3>
<p>
Most conversations are not fun. You want them to end quickly.
</p>
<p>
When a conversation is good you want it to keep going. By practicing long conversations, you learn to have good conversations.
</p>
<p>
Conversations turn bad for a few reasons. These can be fixed:
</p>
<ul>
    <li>The speakers can't break the ice</li>
	<li>Neither side is listening</li>
	<li>The speakers have different backgrounds</li>
	<li>The conversation turns judgemental</li>
</ul>
<h3>What is this site?</h3>
<p>
This is a research project into better conversations. A software interviewer asks you questions. You respond. Over time the sytem learns to ask better questions. You get more interested. The conversations get longer. The conversations get better.
</p>
<p>
My goal is to figure out which conversational approaches end up lasting the longest. Then I'll share them with you.
</p>
<h3>Why have longer conversations?</h3>
<p>
A relationship is a conversation that never ended. Most people don't know how to hold a conversation. Most relationships aren't fun.
</p>
<p>
Becoming an expert is the best way to advance professionally. An expert is someone who can talk for a long time about a subject.
</p>
<p>
Getting other people to like you requires talking to them for a long time. Unless you're rich and beautiful.
</p>
<p>
In long conversations, you figure out who you are and what you believe.
</p>
<h3>How can I have longer conversations?</h3>
<p>
Practice.
</p>
<p>
It can be hard to find people to talk to when you're bad at talking. Maybe if you practiced with a computer for a bit, you could figure out what works for you.
</p>
<p>
A big part of holding a conversation is asking good questions. This site asks good questions. Well, we try! You can learn by example.
</p>
<h3>Who are you?</h3>
<p>
My name is Calvin Hill. I built this site.
</p>
<p>
I live in Sanford, Florida. I'm a web developer at Seminole State College.
</p>
<p>
I lift weights. I do yoga. Sometimes I'll go to the beach or see a movie. I like to build web sites.
</p>
<p>
I want to figure out how conversation works. I did Toastmasters for a bit. They practice talking in public. No group practices conversations. I want to learn to have better conversations with hundreds of people. So I'm building this site. Email me any questions:
</p>
<p>
<i>c (dot) arthur (dot) hill (at) gmail (dot) com</i>
{%endblock %}
