<html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
        <div class="column">
            <div class="nav">
                <a class="{% block homelink %}{% endblock %}" 
    href={% if conversation_id %}{% url 'conversation_id' conversation_id %}{% else %}{% url 'home' %}{% endif %}>YouTalkHere</a>
                <span> | </span>
                <a class="{% block aboutlink %}{% endblock %}" 
    href="{% if conversation_id %}{% url 'about_id' conversation_id %}{% else %}{% url 'about' %}{% endif %}">About</a>
                {% if user.is_authenticated %}
                    <span> | </span>
                    <a class="{% block logout %}{% endblock %}" href="{% url 'logout' %}">Logout</a>
                {% endif %}
            </div>
            <h1 class="h1">{% block header %}{% endblock %}</h1>
            {% block subheader %}{% endblock %}
			<div>
				{% block content %}{% endblock %}
			</div>
			<div class="footer">
				{% block footer %}{% endblock %}
			</div>
		</div>
	</body>
</html>

