{% extends "base.html" %}

{% block homelink %}active{% endblock %}
{% block title %}LongTalking{% endblock %}
{% block header %}{% if user.is_authenticated %}Hi {{ user.username }}!{% else %}Have Longer Conversations{% endif %}{%endblock %}
{% block content %}
{% if not_saved_warning %}
<div class="not-saved">
    <h3>Don't Lose Everything!</h3>
    <p>
        <a href="{% url 'register_id' conversation_id %}">Register</a> or <a href="{% url 'login_id' conversation_id %}">Login</a> to save this conversation.
    </p>
</div>
<br>
{% endif %}
<table>
	{% for message in messages %}
	<tr>
		{% if message.from_us %}
		<th class="light-grey-1">Question</th>
		{% else %}
		<th class="light-grey-2">You</th>
		{% endif %}
		<td>{{ message.message }}</td>
	</tr>
	{% endfor %}
</table>
<br>
<form action="/" method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Submit">
</form>
{% endblock %}
