{% extends "base.html" %}

{% block homelink %}active{% endblock %}
{% block title %}Talk To Ava{% endblock %}
{% block header %}Hi. I'm Ava{%endblock %}
{% block content %}
<table>
	{% for message in messages %}
	<tr>
		{% if message.from_ava %}
		<th class="light-grey-1">Nora</th>
		{% else %}
		<th class="light-grey-2">You</th>
		{% endif %}
		<td>{{ message.message }}<br></td>
	</tr>
	{% endfor %}
</table>
<br>
<form action="/" method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Submit">
</form>
{% endblock %}
