{% extends "base.html" %}

{% block homelink %}active{% endblock %}
{% block title %}Talk To Ava{% endblock %}
{% block header %}Talk to me.{%endblock %}
{% block content %}
<p><i>My name is Ava.<br>I want to be your mentor.<br>I ask you questions.</i></p>
<table>
	{% for message in messages %}
	<tr>
		{% if message.from_ava %}
		<th class="light-grey-1">Ava</th>
		{% else %}
		<th class="light-grey-2">You</th>
		{% endif %}
		<td>{{ message.message }}</td>
	</tr>
	{% endfor %}
</table>
<br>
<form action="/" method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Submit">
</form>
{% endblock %}
