{% extends "base.html" %}

{% block aboutlink %}active{% endblock %}
{% block title %}About{% endblock %}
{% block header %}About{% endblock %}
{% block content %}
<div class="column">
    <div class="full-width overflow-hidden">
        <h3 class="align-center light-bottom-border">Summary</h3>
    </div>
        <p>I interview weirdos. You read my transcripts.</p>
        <p>I like weirdness that can be measured but not bought.</p>
    <div class="full-width overflow-hidden">
        <h3 class="align-center light-bottom-border">Weirdness Can Be Measured</h3>
    </div>
    <p>I think different people can experience the same event differently. I think falling in love is probably different for different people.</p>
    <p>But I can't learn from people who only <i>feel</i> different than me. I can't feel what you feel.</p>
    <p>If measure how you're different from me, I can immitate you.</p>
    <div class="full-width overflow-hidden">
        <h3 class="align-center light-bottom-border">Weirdness Can't Be Bought</h3>
        <p>Weirdness can't be bought. Buying a product is the same experience for everyone who buys it. That's why companies hire people for "quality control".</p>
        <p>I want to find something I want that I can't just buy.</p>
    </div>
    <div class="full-width overflow-hidden">
        <h3 class="align-center light-bottom-border">Who am I?</h3>
    </div>
    <p>
    I'm Calvin. I'm a real person. I'm shaky at yoga. I deadlift on Saturdays. My favorite place is the beach.
    </p>
    <p>
    I live in Sanford, Florida. I'm a web developer at Seminole State College. I like building web sites.
    </p>
    <p>
    Email me your questions:
    </p>
    <p>
    <i>c (dot) arthur (dot) hill (at) gmail (dot) com</i>
    </p>
</div>
{%endblock %}
