{% extends "base.html" %}

{% block aboutlink %}active{% endblock %}
{% block title %}About{% endblock %}
{% block content %}
<div class="overflow-hidden align-center full-width">
    <h1>About</h1>
</div>
<div class="column">
    <div class="full-width overflow-hidden">
        <h3 class="align-center light-bottom-border">Summary</h3>
    </div>
    <div class="padding-10">
        <p>I interview people about their fear of death. I ask how they avoid dying day-to-day. And I ask how they accept certain death.</p>
    </div>
    <div class="full-width overflow-hidden">
        <h3 class="align-center light-bottom-border">Fast Death Fear</h3>
    </div>
    <div class="padding-10">
        <p>You could die right now. Comet strike, heart attack, snake bite.</p>
        <p>Your brain gets anxious to keep you alive. Today's number one goal is to avoid a fast death. Fear of death keeps you focused on food, shelter, etc.</p>
        <p>Most people use money to avoid a fast death. How do you find your career. Do you feel daily fear? Can you live fear-free without much money?</p>
    </div>
    <div class="full-width overflow-hidden">
        <h3 class="align-center light-bottom-border">Slow Death Fear</h3>
    </div>
    <div class="padding-10">
        <p>After a lifetime of avoiding a fast death, you will die of old age. Congradulations!</p>
        <p>You may be depressed at this. Humans are the only animal aware that others have conscious minds just like yours. Why were you given the mind you think with and the eyes you see through if you will surely die?</p>
        <p>When I answered this question, I found peace. Your purpose is to find how you are different from everyone else.</p>
        <p>Why were you given your perspective on this world? How is your perspective different from everyone elses? How can you use your differences to improve your community. How will you feel as death approaches?</p>
    </div>
    <div class="full-width overflow-hidden">
        <h3 class="align-center light-bottom-border">Who am I?</h3>
    </div>
    <div class="padding-10">
    <p>
    I'm Calvin. I'm a real person. I'm shaky at yoga. I deadlift on Saturdays. My favorite place is the beach.
    </p>
    <p>
    I live in Sanford, Florida. I'm a web developer at Seminole State College. I like building web sites.
    </p>
    <p>
    A normal fear of death motivates me to live a happy life.
    </p>
    <p>
    Email me your questions:
    </p>
    <p>
    <i>c (dot) arthur (dot) hill (at) gmail (dot) com</i>
    </p>
    </div>
</div>
{%endblock %}
