{% extends "base.html" %}

{% block homelink %}active{% endblock %}
{% block title %}DEATH FEAR{% endblock %}
{% block content %}
<div class="overflow-hidden align-center full-width">
    <h1 class="monospace">DEATH FEAR</h1>
</div>
</div><p class="align-center"><i>Interviews about the fear of death</i></p>
{% if success %}
    <p class="align-center bold green">Success!</p>
{% endif %}
<div class="full-width overflow-hidden align-center">
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="submit-button" value="Subscribe">
    </form>
</div>
<br>
<div class="column">
    <div class="full-width overflow-hidden background-CFD8DC">
        <h3 class="align-center">Interviews</h3>
    </div>
    <div class="full-width overflow-hidden background-ECEFF1">
        <ol>
        {% for article in articles %}
        <li><a href="{% url 'article' %}">{{ article.header }}</a></li>
        {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}
