{% extends "base.html" %}

{% block header %}Login{% endblock %}
{% block loginlink %}active{% endblock %}
{% block content %}
{{ form.errors }}
{{ form.non_field_errors }}

{% if next %}
   {% if user.is_authenticated %}
   <p>Your account doesn't have access to this page. To proceed,
   please login with an account that has access.</p>
   {% else %}
   <p>Please login to see this page.</p>
   {% endif %}
{% endif %}

<form method="post">
    {% csrf_token %}
    <div>
        {{ form.username.label_tag }}
        {{ form.username }}
	    {{ form.username.errors }}
    </div>
    <br>
    <div>
        {{ form.password.label_tag }}
        {{ form.password }}
	    {{ form.password.errors }}
    </div>
    <br>
    <input type="submit" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}
