body { 
    font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
        “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
            sans-serif;
    color: #111;
    line-height: 1.5; 
    font-size: 1.1em;
    background-color: #FAFAFA;
}

th, td, input, textarea {
    font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
        “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
            sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    padding: .3125em .625em;
}

input[type=text], input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

th {
    text-align: left;
}

table, .full-width {
    width: 100%;
}

table {
    border-spacing: 2px;
    border-color: #FAFAFA;
}

h3, .h3-height {
    font-weight: bold;
    font-size: 1.17em;
}

label {
    display: block;
}

ul {
    list-style-position: inside;
    padding-left: 0;
    list-style-type: square;
}

a {
    text-decoration: none;
    color: #1A0DAB;
}

a:hover {
    text-decoration: underline;
}

.nav > a :visited {
    color: #1A0DAB;
}

.nav > a {
    color: #1A0DAB;
}

.errorlist {
    color: #FF1744;
}

a.active {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.column {
    margin: 0 auto;
    padding: 0 1% 0 1%;
    max-width: 480px;
}

.tr-background-1 {
    background-color: #ECEFF1;
}

.tr-background-2 {
    background-color: #CFD8DC;
}

.background-border {
    border: 2px solid #FAFAFA;
}

.submit-button {
    background-color: #FF1744;
    border-color: #B71C1C;
    color: #FFFFFF;
    box-shadow: 2px 2px 2px #000000;
    margin-right: 4px;
    font-weight: bold;
}
