body { 
    font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
        “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
            sans-serif;

    color: #111;
    line-height: 1.5; 
    font-size: 1.1em;
}

th, td, input, textarea {
    font-size: 1.1em;
    padding: .3125em .625em;
}

table, .full-width {
    width: 100%;
}

label {
    display: block;
}

ul {
    list-style-position: inside;
    padding-left: 0;
    list-style-type: square;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav > a :visited {
    color: #0000ff;
}

.nav > a {
    color: #0000ff;
}

.errorlist {
    color: red;
}

.not-saved {
    border: 2px solid red;
    background: #fff6f6;
    padding: 0 20px 0 20px;
}

a.active {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.column {
    margin: 0 auto;
    padding: 0 1% 0 1%;
    max-width: 480px;
}

.tr-background-1 {
    background-color: #ECEFF1;
}

.tr-background-2 {
    background-color: #CFD8DC;
}
